body {

    font-family: 'Arial', sans-serif;
    background-color: hsl(0, 67%, 76%);
    margin: 0;
    padding: 0;


}

nav {
    background-color: hsl(0, 36%, 88%);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
}