{% extends 'base.html' %}
{% block title %}All Blogs{% endblock %}

{% block content %}
<div class="blog-list-container">
   

    {% for blog in blogs %}
        <div class="blog-card">
            <div class="blog-card-header">
                <h3>{{ blog.title }}</h3>
                <span class="blog-author">by {{ blog.author }}</span>
            </div>
            <div class="blog-card-body">
                <p>{{ blog.content|truncatechars:150 }}</p>
                <p class="blog-date">🕒 {{ blog.created_at|date:"F j, Y, g:i a" }}</p>
            </div>
        </div>
    {% empty %}
        <p>No blog posts found.</p>
    {% endfor %}
</div>
{% endblock %}

